body {
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.header {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(92, 92, 92, 0.2),
		-2px 2px 2px rgba(92, 92, 92, 0.2),
		2px -2px 2px rgba(92, 92, 92, 0.2),
		-2px -2px 2px rgba(92, 92, 92, 0.2);

	border: solid 2px rgb(128, 128, 128);
	text-align: center;
	page-break-after: always;
}


.calibre1 {
	font-family: droid-sans;
}

.heading {
	border-bottom: solid 1px #000000;
}

.about {
	text-align: justify;
	page-break-after: always;
}

.teletype {
	margin-left: 40px;
	margin-right: 40px;
	font-family: monospace;
}

.tester {
	font-style: oblique;
	font-family: monospace;
	font-size: 1.2em;
}
